<!DOCTYPE html>
<html lang="en">

	<meta charset="UTF-8">

	<% include partials/title.ejs %>

    <link href="/resources/styles.css" rel="stylesheet" type="text/css" />
	  <body>

	<% include partials/header.ejs %>

    <% include partials/user-navigation.ejs %>
		<main>
      <% include partials/site-navigation.ejs %>

			<section class="content-data">

				<!-- Breadcrumb -->
				<div class="breadcrumb-div">
				<ul class="breadcrumb">
				  <li><a href="/index">Home</a></li>

				</ul>
				</div>
        <div class="index-main-section-description">
				<p><h2>Is your child getting bored of playing with his or her toys repeatedly? Then you are at the right place! <br></h2>
			We believe that it is every child's right to enjoy his or her childhood to the fullest. After all, this time is never going to come back.
				<h3>Welcome to- Let's Exchange </h3>- An exchange portal designed specially for kids where you can swap your kid's toy(s) with other kid's toy(s). <br>

				<a href="#">Click here</a> if you are a new user. Your account will be created in a jiffy.<br>

				<a href="#">Click here</a> if you are an existing user.<br>

				Spread the word about this website and you might get an attractive reward!<br>

				Happy playing!<br>
      </div>
			</section>
		</main>


    <% include partials/footer.ejs %>

	</body>

</html>
