<!DOCTYPE html>
<html lang="en">

	<meta charset="UTF-8">

	<% include partials/title.ejs %>

    <link href="/resources/styles.css" rel="stylesheet" type="text/css" />
	  <body>

	<% include partials/header.ejs %>

    <% include partials/user-navigation.ejs %>
		<main>
      <% include partials/site-navigation.ejs %>

			<section class="content-data">

				<!-- Breadcrumb -->
				<div class="breadcrumb-div">
				<ul class="breadcrumb">
				  <li><a href="/index">Home</a></li>

				</ul>
				</div>
        <div class="index-main-section-description">
				Welcome <%= userFirstName %>
      </div>
			</section>
		</main>


    <% include partials/footer.ejs %>

	</body>

</html>
